.mat-rmt-header
{
    margin: 2px 0;
    padding: 0;
    background: rgba(0,0,0,0.05);
    border: 3px groove #eeede0;
    font-weight: bold;
    line-height: 24px;
}

.mat-rmt-controls
{
    flex: 0 0 20px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
}

.mat-rmt-controls > *
{
    flex: 1;
}

.mat-rmt-controls a {
    flex: 0 0 22px;
    text-align: center;
    color: #606060;
}

.mat-rmt-mapping-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mat-rmt-mapping-list > li {
    align-items: center;
}

li.mat-rmt-mapping > select {
    margin: 0 5px;
}

.mat-rmt-mapping > * {
    width: 50px
}